<!DOCTYPE html>
<html>
    <head>
        <title>Nodee CMS</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/3rd-party/bootstrap/css/bootstrap.css">
    </head>
    <body>
        <div class="container">
            
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <span class="menu-item"><a href="">Menu Item</a></span>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <h2 style="margin-top:50px;">Hello World ! You can edit me.</h2>
                </div>
            </div>    
        </div>
        
        <!-- renders page inside layout -->
        <render-body></render-body>
    </body>
</html>